@model IEnumerable<helpdesk.Models.Report>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Raporty</h2>
<hr />
<p>
    <div class="list-group col-md-4">
        <button type="button" class="list-group-item list-group-item-action">Ilość zgłoszeń w wybranym okresie</button>
        <button type="button" class="list-group-item list-group-item-action">Report 1</button>
        <button type="button" class="list-group-item list-group-item-action">Report 2</button>
        <button type="button" class="list-group-item list-group-item-action">Report 3</button>
    </div>
</p>

