@model helpdesk.Models.Order

@{
    ViewBag.Title = "Delete";
}
<h3>Anulować zgłoszenie?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Zgłoszenie nr @Html.DisplayFor(model => model.OrderId)
        </dt>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Potwierdź anulowanie" class="btn btn-outline-danger" />
        @Html.ActionLink("Powrót", "Details", "Orders", new { id = Model.OrderId }, new { @class = "btn btn-outline-primary" })
    </div>
    }
</div>
