@model PagedList.IPagedList<helpdesk.Models.Order>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Raporty";
}

@{ var items = this.ViewBag.Summary as Dictionary<string, string>; }

<table class="table table-responsive">

    @foreach (var item in items)
    {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Key)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
        </tr>
    }

</table>
