@model helpdesk.Models.Order

@{
    ViewBag.Title = "Raporty";
}

@{ var items = this.ViewBag.Summary as Dictionary<string, string>; }

<table class="table table-responsive">

    @foreach (var item in items)
    {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Key)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
        </tr>
    }

</table>

@*@{ var itemsByStatus = this.ViewBag.OrdersByStatus as Dictionary<string, string>; }

<table class="table table-responsive">

    @foreach (var itemByStatus in itemsByStatus)
    {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => itemByStatus.Key)
            </td>
            <td>
                @Html.DisplayFor(modelItem => itemByStatus.Value)
            </td>
        </tr>
    }

</table>*@