@{
    ViewBag.Title = "Kontakt";
}
<h2>Departament Informatyki</h2>
<br />
<address>
    Telefon wewnętrzny: <h4>339</h4><br />
    Adres e-mail: <h4></h4><a href="mailto:informatyk@powiat-srem.pl">informatyk@powiat-srem.pl</a></h4><br />
</address>